.body {
    min-height: 70vh;
}

.card-job {
    padding: 10px;
}

.job {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
}
.read {
    background-color:#f2f3f4; 
    border:1px solid #dcdcdc;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin: 7px;
}
.card-body {
    padding: 30px;
}

.col_transaction {
    float: left;
    width: 30%;
    padding: 0 10px;
    padding-top: 2%;
}

.card_transaction {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 15px;
}

.modal-header {
    background-image: url(/images/home/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 .55rem .5rem rgba(0, 0, 0, .07)!important;
    display: block;
}

.modal-body {
    padding: 30px;
    max-height: 75vh;
    overflow-y: auto;
}

.customer_services_modal_footer {
    padding: 16px;
}

.service_title_trans {
    font-weight: bold;
    font-size: 25px;
    color: #FB8500;
    font-family: 'Raleway', sans-serif;
}

.fa-clipboard-list {
    color: #FB8500;
    font-size: 30px;
}

.booking_date {
    font-size: 18px;
    padding-bottom: 7px;
}

.title {
    text-align: center;
}

.h3 {
    margin-bottom: 0;
}

.buttons {
    align-items: center;
}

.title {
    margin-left: 0;
    margin-right: 0;
}

.cleaner_cards_title {
    margin: 20px;
    font-family: 'Raleway', sans-serif;
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.cleaner_detail {
    list-style-type: none;
    padding-left: 0;
    font-size: 15px;
    text-indent: 20px;
}

.list_booking_info {
    text-indent: 50px;
}

#footer {
    margin-top: 30px;
    background-color: #061835;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    padding: .75%;
    color: white;
}

.banner {
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 75vh;
}

.banner-container {
    align-items: center;
    font-size: 30px;
    background-size: cover;
}

.banner1 {
    background-color: #F7f7f7;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner1 .image {
    flex: 1 1 250px;
    padding: 35px;
    text-align: left;
    margin-bottom: 50px;
}

.banner-container .banner1 .image img {
    width: clamp(80%, 4vw, 90%);
}

.banner-container .banner1 .text {
    flex: 1 1 250px;
    padding: clamp(60px, 4vw, 10%);
    text-align: left;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.book_container {
    margin: 0 auto;
    background: #F7f7f7;
    width: 70%;
    padding: 5% 7%;
    border-radius: 0.75rem;
    align-self: center;
    text-align: center;
}

.no_active {
    color: #1A5184;
    font-weight: bolder;
    margin: 0% 0% 3% 0%;
    font-size: clamp(30px, 4vw, 40px);
}


.close-mobile{
    width: 70px;
    height: 30px;
    background-color: #FFEDDF;
    color: #F6A06F;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    align-items: center;
}

@media (max-width:800px) {
    
    .cleaner_job_modal_content{
        width: 100%;
        border-radius: 0%;
        height: 100%;
    }
    .close-web{
        display: none;
    }
    .close-mobile{
        margin-bottom: 20px;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }
    .modal-body{
        padding: 30px;
        max-height: 75vh;
        overflow-y: auto;
    }
    .mobile-spacer {
        display: block;
        height: 80px;
    }
    .banner {
        height: 60vh;
    }
    .book_container {
        margin: 0 auto;
        background: #F7f7f7;
        width: 70%;
        padding: 5% 7%;
        border-radius: 0.75rem;
        align-self: center;
        text-align: center;
    }
    .banner {
        position: relative;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        min-height: 75vh;
    }
    .no_active {
        color: #1A5184;
        font-weight: bolder;
        margin: 0% 0% 3% 0%;
        font-size: clamp(20px, 4vw, 40px);
    }
    .qoute {
        margin: 0% 7% 15% 7%;
        font-size: clamp(10px, 4vw, 25px);
    }
    .banner-container .banner1 .image{
        display: none
    }
}

@media (min-width:801px) {
.mobile-spacer, .close-mobile{
    display: none;
}
}
@media (max-width:450px) {
    .banner {
        height: 60vh;
    }
    .book_container {
        margin: 0 auto;
        background: #F7f7f7;
        width: 80%;
        padding: 7% 10%;
        border-radius: 0.75rem;
        align-self: center;
        text-align: center;
    }
    .banner {
        position: relative;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        min-height: 75vh;
    }
    .no_active {
        color: #1A5184;
        font-weight: bolder;
        margin: 0% 0% 3% 0%;
        font-size: clamp(20px, 4vw, 40px);
    }
    .qoute {
        margin: 0% 7% 15% 7%;
        font-size: clamp(10px, 4vw, 25px);
    }
}

.cleaner_trans_broom_2_1_img {
    width: 80px;
    height: 90px;
    margin-right: 5px;
    background-color: #F6A06F;
    border-radius: 10px;
}


.cleaner_job_status {
    margin-top: 5px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color: #178ac9;
    text-align: right;
    font-family: 'Roboto', sans-serif;
}

