.banner-container{
    align-items: center;
    font-size: 30px;
    background-size: cover;
}
h2 {
    text-align: center;
    margin-top: 1%;
}
.main_profile_con {
    margin-top: 3%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    border: 2px solid #FFEDDF;
}
.banner {
    background-image: url(/images/home/header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    display: flex;
    align-items: center;
}

.banner-container .banner .image{
    flex:1 1 250px;
    padding: 35px;
    text-align: left;
}

.banner-container .banner .image img{
    width: clamp(80%, 4vw, 90%);
}

.banner-container .banner .text{
    flex:1 1 250px;
    padding: clamp(60px, 4vw, 10%);
    text-align: left;
    align-items: center;
    justify-content: center;
}

.customer_cards_title{
    margin: 50px;
}


/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #b4afaf;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
.star{
    color: #ffe400;
    font-size: 2.0rem;
    padding: 0 1rem; /* space out the stars */
  }
  .star::before{
    content: '\2606';    /* star outline */
    cursor: pointer;
  }
  .star.rated::before{
    /* the style for a selected star */
    content: '\2605';  /* filled star */
  }
  
  .stars{
      counter-reset: rateme 0;   
      font-size: 2.0rem;
      font-weight: 900;
  }
  .star.rated{
      counter-increment: rateme 1;
  }
  
  @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rating { 
  border: none;
  margin:0px 0px 0px 50px;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin-top: 2px;
  padding:0px 5px 0px 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
	color: #fff; 
	float: right;
	background-color:#D8D8D8;
	border-radius:25px;
    height:30px;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { 
	background-color:#ffe400 !important;
  cursor:pointer;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { 
	background-color:#ffe400 !important;
  cursor:pointer;
} 
/* End of Star Rating */


.input-div{
    margin: 10px 50px;
}
.input, .contact_fields{
    background-color: #DBF1FC;
    border: #DBF1FC;
    border-radius: 20px;
    width: 100%;
}

.contact_fields{
    height: 300px;
}

.text h1{
    color: #1A5184;
    font-weight:bolder;
    margin: 3%;
    font-size: clamp(30px, 4vw, 50px);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.banner-container .banner .text p{
    text-align: left;
    margin: 7%;
    font-size: clamp(15px, 2vw, 30px);
}

@media (max-width:750px){
    .banner-container .banner .image{
        display: none;
    }

    .text h1 p{
        text-align: center;
    }

    .p{
        text-align: center;
    }
    .h1{
        text-align: center;
    }

    .card-img{
        height: 265px;
        object-fit:fill;
        border-radius: 0.75rem;
        
    }
    .customer_services_modal_content_inside{
        height: 100%;
    }
}

.card{
    margin: 10px;
    background-color: #FFEDDF;
    background-clip: border-box;
    border: 1px solid #FFEDDF;
    border-radius: 0.75rem;
    max-width: 540px;
}

.card-body{
    align-content: space-between;
}

.pricing{

}

.button-left{

}

.price{
    font-weight:bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.starts{
    font-size: small;
}

.price{
    font-size: 30px;
}
.btn-align-left{
    align-items: flex-end;
}

.row{
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
}

.col{
    justify-content: end;
}

.card-img{
    height: 265px;
    object-fit:fill;
    border-radius: 0.75rem;
    
}

.card-img-top{
    object-fit:fill;
    border-radius: 0.75rem;
}

.col-lg-3 .col-md-5{
    padding-right: 0px;
    padding-left: 0px;
}


.head{
    align-items: center;

}

.service_title{
    padding: 20px 50px 10px 50px;
}

.customer_search_con{
    padding: 20px;
}

.customer_search_field {
    width: 97%;
    height: 40px;
    border-radius: 20px; 
    font-size: 15px;
    text-indent: 10px;
    border: none;
    background-color: #DAE1EC;
}

.customer_services_modal_content {
    border-radius: 15px;
    
}

.customer_services_broom_2_1_img, 
.customer_services_broom_2_5_img,
.customer_trans_broom_2_1_img,
.customer_trans_his_broom_2_1_img {
    width: 80px;
    height: 90px;
    margin-right: 5px; 
    background-color: #FFB703;  
    border-radius: 10px; 
}

.five_stars_img {
    width: 120px;
    height: 50px;
}

.modal-header{
    background-image: url(/images/home/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 .55rem .5rem rgba(0,0,0,.07)!important;
    border-radius: 0.75rem;
}

.close-mobile{
    width: 70px;
    height: 30px;
    background-color: #FFEDDF;
    color: #F6A06F;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    align-items: center;
}



@media (max-width:800px){
    .card{
        margin: 10px 20px;
    }
    .mobile-spacer{
        display: block;
        height: 80px;
    }
    .price1, .book {
        width: 50%;
    }
    .customer_services_modal_content{
        width: 100%;
        border-radius: 0%;
        height: 100%;
    }
    .customer_services_modal_con{
        margin: auto;
        top: 50%;
        left: 48.1%;
        max-width: 100%;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 10px;
        padding: 10px;
        height: 100%;
    }
    .modal-dialog {
        max-width: 100%;
        margin: 0;
        height: 100%;
    }
    .close-web{
        display: none;
    }
    .close-mobile{
        margin-bottom: 20px;
    }
    .customer_cards_title{
        margin: 15px;
    }
    
}

.book_now_btn, .confirm_btn {
    background-color: #397fa5;
    border: #219EBC;
    color: white;
    font-weight: bold;
    border-radius: 5px; 
}

.btn-primary{
    background-color: #F6A06F;
    border: #F6A06F;
    color: white;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #ffc7a7;
    border: black;
    color: black;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.customer_trans_status,
.customer_trans_his_status {
    
    margin-top: 5px;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color: #178ac9;
    text-align: right;
}

.service_title_trans{
    font-size: 25px;
}

.card-body{
    align-content: space-between;
}

.customer_services_modal{
    width: 100%;
    margin: 0;
    align-items: center;
}
.modal-body{
    padding: 40px;
    max-height: 75vh;
    overflow-y: auto;
}
.customer_services_modal_footer{
    padding: 5px;
}

.modal-header {
    display: block;
}
.fa-arrow-to-left{
    color: orange;
    align-self: center;
    font-size: 20px;
    margin-top: 5px;
}

@media (min-width:801px) {
    .customer_services_modal_con{
        position: absolute;
        top: 50%;
        left: 48.1%;
        margin-right: auto;
        margin-left: auto;
        transform: translate(-50%, -50%);
        background-color: #fff;
        max-width: 60%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgb(63, 63, 63);
        width: 100%;
    }
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    .modal_customer_services_title{
        padding-top: 10px;
        font-weight: bold;
    }
    .close-web{
        padding: 10px;
        margin: 10px;
        opacity: 1;
    }
    #footer {
        position: fixed;
        padding: 10px 10px 10px 10px;
        bottom: 0;
        width: 100%;
    }
    
}

.checkout-summary{
    padding-top: 10px;
    font-weight: lighten;
}
.modal{
    margin: 0;
    padding: 0;
}

.customer_services_description, .customer_package_list{
    text-align: justify;
}

.customer_package_pricing{
    margin: 0%;
}

.confirm_btn:hover{
    background-color: #6ef184;
    border: black;
    color: black;
    border-radius: 5px;
    transition-duration: 0.4s;
    font-weight: 500;
}

.cancel_btn:hover{
    background-color: #f17d6e;
    border: black;
    color: black;
    border-radius: 5px;
    transition-duration: 0.4s;
    font-weight: 500;
}

.pricing{
    margin-right: -15px;
    margin-left: -15px;
}

.place{
    align-content: space-between;
    padding: 10px;
}

.form-check{}


@media (max-width:750px){
    .banner-container .banner .image{
        display: none;
    }

    .text h1 p{
        text-align: center;
    }

    .p{
        text-align: center;
    }
    .h1{
        text-align: center;
    }

    .card-img{
        height: 265px;
        object-fit:fill;
        border-radius: 0.75rem;
        
    }
    .modal-dialog{
        margin: 0;
        height: 100%;
    }
    .customer_services_modal_con{
        margin: auto;
        top: 50%;
        left: 48.1%;
        max-width: 100%;
        background-color: #FFFFFF;
        border-radius: 20px;
        box-shadow: 10px;
        padding: 10px;
        height: 100%;
    }
    .customer_services_modal_content_inside{
        height: 100%;
    }
    .banner-container .banner .image{
        display: none;
    }

    .text h1 p{
        text-align: center;
    }

    .p{
        text-align: center;
    }
    .h1{
        text-align: center;
    }

    .card-img{
        height: 265px;
        object-fit:fill;
        border-radius: 0.75rem;
        
    }
    .customer_cards_title{
        margin: 15px;
    }
}

.title2{

}

@media (max-width: 325px){
    .price{
        font-size: 25px;
    }
}