body{
    overflow-x: hidden;
}

.navbar{
    background-color: #DBF1FC !important;
    position:sticky;
    width: 100%;
    box-shadow: 0 .125rem .55rem rgba(0,0,0,.075)!important;
}

.navbar-brandname {
    color: #042A6B;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
}
.bell{
    display: none;       
}


.navbar .nav-item .nav-link::before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #042A6B;
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar-light .navbar-nav .nav-link:hover {
    text-decoration: none;
    color: #FFB703;
    font-weight: 600;
    text-decoration: underline;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #1A5184 ;
    font-weight:700;
    text-decoration: underline;
}

.login_btn {
    background-color: #1A5184;
    border: #1A5184;
    color: white;
    border-radius: 5px; 
    font-size: 16px;
    width: 100x;
}

.nav-link{
    font-weight: 600;
}
.mobile-nav{
    display: none;       
}


@media only screen and (max-width: 800px) {
    .navbar .navbar-nav{
        display: none;
    }
    .mobile-nav{
        box-shadow: 0 -.125rem .55rem rgba(0,0,0,.075)!important;
        display: block;
        background-color: #DBF1FC !important;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        margin-bottom: 0;
        overflow: hidden;
    }
    .fas{
        color: black;
        font-size: 25px;
    }
    .nav-button{
        align-items: center;
        align-content: center;
        text-align: center;
        color: black;
        text-decoration: none;
    }
    .nav-button h6{
        font-size: 10px;
        margin: 0%;
    }
    .nav-button.active, .fas-active{
        color: #1A5184 ;
        font-weight:700;
        text-decoration: underline;
    }
    
}
@media only screen and (max-width: 800px){
    .bell{
        display: block;
    }
}

.notification {         
    max-height: 400px;
    overflow-y: auto;
}

.icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.description{
    color: #222;
    font-size: 15px;
    padding: 5px;
}