.banner-container{
    align-items: center;
    font-size: 30px;
    background-size: cover;
}
.banner{
    background-color: #F7f7f7;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-container .banner .image{
    flex:1 1 250px;
    padding: 35px;
    text-align: left;
}
.banner-container .banner .image img{
    width: clamp(80%, 4vw, 90%);
}
.banner-container .banner .text{
    flex:1 1 250px;
    padding: clamp(60px, 4vw, 10%);
    text-align: left;
    align-items: center;
    justify-content: center;
}
.text h1{
    color: #1A5184;
    font-weight:bolder;
    margin: 7%;
    font-size: clamp(30px, 4vw, 50px);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.banner-container .banner .text p{
    text-align: left;
    margin: 7%;
    font-size: clamp(15px, 2vw, 30px);
}


@media (max-width:750px){
    .banner-container .banner .image{
        display: none;
    }
    .text h1 p{
        text-align: center;
    }
    .p{
        text-align: center;
    }
    .h1{
        text-align: center;
    
    .card-img{
        height: 265px;
        object-fit:fill;
        border-radius: 0.75rem;  
    }
}

.card{
    margin: 10px;
    background-color: #FFEDDF;
    background-clip: border-box;
    border: 1px solid #FFEDDF;
    border-radius: 0.75rem;
    max-width: 540px;
}
.pricing{

}
.button-left{

}
.price{
    font-weight:bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 15px;
}
.starts{
    font-size: small;
}
.price{
    font-size: 30px;
}
.btn-align-left{
    align-items: flex-end;
}
.row{
    justify-content: space-between;
}
.col{
    justify-content: end;
}
.card-img{
    height: 265px;
    object-fit:fill;
    border-radius: 0.75rem;
    
}
.card-img-top{
    object-fit:fill;
    border-radius: 0.75rem;
}
.col-lg-3 .col-md-5{
    padding-right: 0px;
    padding-left: 0px;
}
.head{
    align-items: center;

}
.service_title{
    padding: 20px;
}
.customer_search_con{
    padding: 20px;
}
.customer_search_field {
    width: 97%;
    height: 40px;
    border-radius: 20px; 
    font-size: 15px;
    text-indent: 10px;
    border: none;
    background-color: #DAE1EC;
}
.customer_services_modal_content {
    border-radius: 15px;
    width: 800px;
}
.customer_services_modal_content_inside {
    border-radius: 15px;
    width: 400px;
}
.customer_services_broom_2_1_img, 
.customer_services_broom_2_5_img,
.customer_trans_broom_2_1_img,
.customer_trans_his_broom_2_1_img {
    width: 80px;
    height: 90px;
    margin-right: 5px; 
    background-color: #FFB703;  
    border-radius: 10px; 
}
.five_stars_img {
    width: 120px;
    height: 50px;
    margin-left: 15px; 
    margin-top: -15px;
}
.customer_package_list {
    list-style-type: none;
    padding-left: 0;
    font-size: 15px;
}


@media (max-width:800px){
    .card{
        margin: 10px 20px;
    }
}


.customer_services_modal_footer{
    border: 0 none;
}
.book_now_btn {
    background-color: #219EBC;
    border: #219EBC;
    color: white;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 20px;
    width:290px;
    height: 50px;
}
.customer_services_modal_body_1_con {
    padding-right: 30px;
}
.cancel_btn {
    border: none;
    background-color: white;
    color: #04192E;
    font-weight: bold;
    font-size: 18px;
}
.confirm_btn {
    background-color: #219EBC;
    border: #219EBC;
    color: white;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 18px;
}
.customer_trans_status,
.customer_trans_his_status {
    margin-right: 15px;
    margin-top: 5px;
    font-size: 15px;
    font-style: italic;
    color: blue;
    text-align: right;
}
.customer_trans_his_modal_footer{
    border: 0 none;
}
.main_profile_con {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 85%;
    height: 350px;
    margin-left: 100px;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
}
.customer_profile_avatar_con {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 12rem;
    height: 13rem;
    border-radius: 10px;
    margin-left: -80px;
    background-color: #EDF1F8;
    margin-top: 10px;
}
.profile_avatar_img {
    height: 160px;
    width: 160px;
    margin: auto;
    text-align: center;
}
.customer_profile_name_con {
    width: 270%;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-bottom: 5px solid #219EBC;
    background-color: #fff;
}
.customer_profile_name {
    color: #FFB703;
    font-weight: bold;
    font-size: 35px;
    background-color: #fff;
}
.customer_profile_info_con {
    width: 90%;
    height: 50px;
    margin-left: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #fff;
}
.customer_profile_info {
    font-size: 15px;
    margin-top: 5px;
    background-color: #fff;
}
.update_btn_con {
    width: 120px;
    height: 60px;
    margin-top: 220px;
    margin-left: 450px;
}
.customer_update_btn {
    width: 105px;
    color: #042A6B;
    font-size: 18px;
    margin-top: 30px;
    outline: none;
}
.customer_update_btn:focus {
    outline: none !important;
    box-shadow: none;
} 
.customer_profile_info_icon {
    margin-right: 10px;
}


/* rating */


.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }
  .rating-css input {
    display: none;
  }
  .rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }
  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }
  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

/* End of Star Rating */
