body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #EDF1F8;
    overflow-x: hidden;
    

}
#active {
    color: #FFB703;
}

/* Admin Search Bar */

.search_con {
    margin-top: 40px;
    float: right;
    margin-right: -300px;
}
.adjust_con {
    float: right;
    margin-top: 70px;
    margin-right: 100px;
}
.adjust_con_dash {
    margin-top: 30px;
    margin-left: 10px;
}
.searchbar { 
    width: 300px;
    height: 38px;
    border-radius: 5px;
    opacity: 1;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: #DAE1EC;
    border-radius: 20px;
}
.searchbar:focus {
    outline: none;
}
.searchbar_dash { 
    width: 100%;
    height: 38px;
    opacity: 1;
    border: none;
    padding-left: 10px;
    font-size: 15px;
    background-color: #DAE1EC;
    border-radius: 5px;
}
.searchbar_dash:focus {
    outline: none;
}


/* Admin Login and Register Page */
.login_body, 
.reg_body {
    background-color: #bdcae0;
}
.login_customer_body {
    background-image: url("/img/customer_bg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.reg_customer_body {
    background-color: #219EBC;
}
.login_cleaner_body {
    background-image: url("/img/cleaner_bg.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.reg_cleaner_body {
    background-color: #e0996f;
}
.login_con {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 400px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px;
    padding: 20px;
}
.register_con {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 450px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px;
    padding: 20px;
}
.login_fields, 
.reg_fields {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
    margin-top: 25px;
    width: 100%;
    padding: 3px;
}
.upload_con {
    width: 100%;
    margin-top: 30px;
}
.upload_label {
    font-size: 16px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.upload_file {
    margin-top: 10px;
    margin-bottom: 10px;
}
.login_btn, 
.register_btn{
    width: 100%;
    height: 30px;
    background-color: #e0996f;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.login_btn:hover, 
.register_btn:hover
{
    border: #e0996f 2px solid;
    color: #e0996f;
    background-color: #fff;
}
.login_customer_btn, 
.register_customer_btn{
    width: 100%;
    height: 30px;
    background-color: #FB8500;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.login_customer_btn:hover, 
.register_customer_btn:hover
{
    border: #FB8500 2px solid;
    color: #FB8500;
    background-color: #fff;
}
.login_cleaner_btn, 
.register_cleaner_btn{
    width: 100%;
    height: 30px;
    background-color: #219EBC;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.login_cleaner_btn:hover, 
.register_cleaner_btn:hover
{
    border: #219EBC 2px solid;
    color: #219EBC;
    background-color: #fff;
}
.signin_label, 
.register_label{
    color: #1A5184;
    font-size: 25px;
}
.login_link_btn,
.register_link_btn  {
    font-size: 12px;
    font-style: italic;
}
.text-danger {
    color: red;
    font-size: 14px;
}

.alert-success {
    font-size: 14px;
    width: 100%;
    height: 30px;
    background-color: rgb(130, 228, 155);
    padding-top: 10px;
    border-radius: 5px;
}
.file_upload_con {
    width: 60px;
    height: 50px;
    background-color: rgb(187, 179, 179);
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.bi-person-badge-fill, .bi-file-earmark-image, .bi-file-richtext {
    height:1rem;
    font-size: 2.5rem;
}
.further_info_id_con {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    width: 100%;
    background-color: rgb(165, 193, 253);
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.further_info_con {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
    width: 100%;
    background-color: rgb(245, 245, 143);
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.further_info {
    font-size: 11px;
}
.password_con {
    display: flex;
    align-items: center;
}
.eye_con {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
    height: 20px;
    margin-top: 26px;
    background-color: #FFFFFF;
    padding-right: 5px;
}
.bi-eye-slash {
    cursor: default;
    font-size: 1rem;
    cursor: pointer;
}


/* Admin Dashboard */

.col_dashboard_main {
    background-color: #FFFFFF;
}
.col-dashboard {
    margin: 40px;
    background-color: #EDF1F8;
    height: 100%;
    width: 300px;
}
.dashboard_title {
    margin-top: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 50px;
    font-weight: bolder;
    font-size: 20px;
}
.active_services_con {
    height: 100%;
    width: 100%;
    margin: 15px;;
    background-color: rgba(255, 183, 3, .5);
    border-left: 15px solid #FFB703;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.service_name {
    font-size: 20px;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.transaction_id {
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.customer_name {
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.arrow_right_con {
    width: 100%;
}
.right {
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    border: 4px solid #f58c00;
    border-radius: 50%;
}
.right:after {
    content: '';
    display: inline-block;
    margin-top: 0.30em;
    margin-left: 0.2em;
    width: 1em;
    height: 1em;
    border-top: 0.2em solid #f58c00;
    border-right: 0.2em solid #f58c00;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#report {
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 50px;
    color: #000000;
}
.daily_revenue{
    height: 100px;
    width: 180px;
    background-color: #ffcf8f;
    border-left: 10px solid #f58c00;
    border-bottom: 1px solid #f58c00;
    border-top: 1px solid #f58c00;
    border-right: 1px solid #f58c00;
    padding: 13px;
    margin-right: 50px;
}
.weekly_revenue{
    height: 100px;
    width: 180px;
    background-color: #ffdd42;
    border-left: 10px solid #ffae42;
    border-bottom: 1px solid #ffae42;
    border-top: 1px solid #ffae42;
    border-right: 1px solid #ffae42;
    padding: 13px;
    margin-right: 50px;
}
.sweep_user{
    height: 100px;
    width: 180px;
    background-color: #42c2ff;
    border-left: 10px solid #0069f5;
    border-bottom: 1px solid #0069f5;
    border-top: 1px solid #0069f5;
    border-right: 1px solid #0069f5;
    padding: 13px;
    margin-right: 50px;
}
.sweep_cleaner{
    height: 100px;
    width: 180px;
    background-color: #ffdceb;
    border-left: 10px solid #ff4393;
    border-bottom: 1px solid #ff4393;
    border-top: 1px solid #ff4393;
    border-right: 1px solid #ff4393;
    padding: 13px;
    margin-right: 50px;
}
.value {
    font-size: 25px;
    font-weight: bold;
    float: right;
    text-align: center;
    padding: 15px;
}
.value1 {
    font-size: 25px;
    font-weight: bold;
    float: right;
    padding: 4px;
}
.report_title {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
#daily_transaction {
    margin-left: 30px;
}





/* Admin Bar Graph */



/* Admin User Page */

.user_btn_con {
    margin-left: 10px;
}
.user_type_btn, 
.user_type_btn_cleaner, 
.user_type_btn_employee, 
.user_type_btn_customer {
    color: #04192E;
    font-weight: bolder;
    margin-left: 60px;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.show_info {
    margin-top: 20px;
    margin-left: 50px;
    font-weight: bold;
    font-size: 15px;
}
.result_con {
    float: right;
    margin-right: 30px;
    margin-top: -55px;
    display: inline-flex;
}
.total_value {
    color: #FFB703;
    margin-top: 10px;
    display: inline;
}
#number {
    width: 50px;
    height: 28px;
    border-color: rgba(255, 183, 3, .5);
    color: rgba(255, 183, 3, .5);
    border-radius: 8px;
    margin-top: 18px;
    margin-left: 15px;
}
.user_table_con{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    margin-bottom: 10%;
    min-height: 45vh;
}
.user_table {
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
} 
.head_user {
    background-color: #0069f5;

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #afafaf;
}
.user_table_header {
    background-color: rgba(211, 211, 211, .8);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.user_table_row, 
.user_table_data {
    border: 1px solid rgba(211, 211, 211, .5);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.active_sub {
    color: #FFB703;
    text-decoration: underline;
}


 /* Admin Cleaner Page */

 .verify_btn {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #2B81B0;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
}
.verify_btn:focus {
    outline: none;
}
.verify_con:hover .verify_btn {
    border: #2B81B0 2px solid;
    color: #2B81B0;
    background-color: #EDF1F8;
}
.view_btn {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #4ee6ac;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    color: #FFFFFF;
}
.view_btn:focus {
    outline: none;
}
                                                        


/* Admin Services Page */
.customer_search_con {
    position: relative;
    float: right;
    margin-top: -60px;
    margin-right: 50px;
}
.cards_title {
    display: block;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.service_title {
    font-weight: bolder;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal_service_title{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
}
.pricing_title {
    margin-top: 50px;
    font-weight: bold;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.services_title_con {
    margin-top: 4vw;
    margin-left: 8vw;
}
.add_service_btn {
    width:150px;
    background-color: #FB8500;
    border: #FB8500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 10px; 
}
.add_service_con {
    padding-left: 815px;
    margin-top: 30px;
}
.add_service_form {
    border: none;
    border-bottom: 2px solid #CCCCCC;
    outline: none;
    margin-top: 25px;
    width: 250px;
    padding: 3px;
}
.services_con, 
.transaction_con {
    margin-left: 110px;
    margin-top: 20px;
    min-height: 75vh;
}
.col_services, 
.col_transaction {
    float: left;
    width: 30%;
    padding: 0 10px;
    padding-top: 2%;
}
.row_services, 
.row_transaction {
    margin: 0 -5px;}
.row_services:after {
    content: "";
    display: table;
    clear: both;
}
.row_transaction:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 991px) {
    .col_services, 
    .col_transaction{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.card_services, 
.card_transaction {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 15px; 
}
.broom_img {
    width: 65px;
    height: 70px;
    margin-right: 15px; 
    background-color: #2B81B0;  
    border-radius: 10px;  
}
.broom_img_inside {
    width: 80px;
    height: 90px;
    margin-right: 5px; 
    background-color: #2B81B0;  
    border-radius: 10px; 
}
.service_description {
    text-align: justify;
    text-indent: 50px;
    font-size: 15px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal_customer_services_title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0069f5;
    font-size: 25px;
}
.view_details_btn {
    width:300px;
    background-color: #BEE7FD;
    border: #BEE7FD;
    color: black;
    font-weight: bold;
    border-radius: 15px; 
    font-size: 13px;
}
.package_list {
    list-style-type: none;
    padding-left: 0;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.price {
    margin-top: 25px;
}
.update_btn {
    background-color: #BEE7FD;
    border: #BEE7FD;
    color: black;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 13px;
    width:100px;
}
.delete_btn {
    background-color: #FF3838;
    border: #FF3838;
    color: black;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 13px;
    width:100px;
}
.service_modal_header, 
.service_modal_footer, 
.trans_modal_header, 
.trans_modal_footer { 
    border: 0 none;
}
.service_modal_content, 
.trans_modal_content { 
    border-radius: 15px;
}






/* Admin Transaction Page */

.check_icon_outside {
    color: #FB8500;
    font-size: 1.5em;
    margin-right: 10px;
}
.check_icon_inside {
    font-size: 2em;
    margin-right: 15px; 
    color: #FB8500;  
    margin-top: -5px;
}
.service_title_trans {
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
    color: #FB8500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.service_status {
    float: right;
    margin-top: 5px;
    font-size: 18px;
    margin-left: 5px;
}
.booking_date {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal_service_title_trans {
    font-weight: bold;
    font-size: 30px;
    color: #FB8500;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.user_info_table{
    font-size: 15px;
}
.customer_detail{
    list-style-type: none;
    padding-left: 0;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.list_booking_info {
    text-indent: 50px;
}
.view_details_btn_trans {
    width:300px;
    background-color: #FB8500;
    border: #FB8500;
    color: black;
    font-weight: bold;
    border-radius: 15px; 
    font-size: 13px;
}
.accept_btn {
    background-color: #BEE7FD;
    border: #BEE7FD;
    color: black;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 13px;
    width:100px;
}
.decline_btn {
    background-color: #FF3838;
    border: #FF3838;
    color: black;
    font-weight: bold;
    border-radius: 5px; 
    font-size: 13px;
    width:100px;
}




/* Admin Transaction History Page */

.trans_his_con {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    margin-bottom: 10%;
}
.history_table {
    height: auto;
    width: 100%;
    font-size: 15px;
}
.table_trans_his_row {
    border: 1px solid rgba(211, 211, 211, .5);
}
.user_table_trans_his_header {
    background-color: rgb(177, 224, 243);
}

#card-lists {
    margin-left: 0px;
}

/* Responsiveness */

@media (max-width: 991px){
    header {
        padding: 0 20px;
    }
    .menu-toggle {
        display: block;
    }
    
    .cards_title {
        padding-left: 5%;
        padding-top: 30%;
    }
    .services_con, 
    .transaction_con, 
    .trans_his_con {
        margin-left: auto;
        margin-right: auto;
        
    }
    .add_service_con {
        padding-left: 10%;
        margin-left: 230px;
    }
    .card_services, 
    .card_transaction {
        margin-left: 20px;
    }
}


/* lost

.trans-history-btn {
    width: 200px;
    background-color: #FB8500;
    border: #FB8500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border-radius: 10px; 
}
.trans-history {
    padding-left: 695px;
}
.trans-view-details-btn {
    width:300px;
    background-color: #BEE7FD;
    border: #BEE7FD;
    color: black;
    font-weight: bold;
    border-radius: 15px; 
    font-size: 13px;
}

*/

.stars {
    color: #ff7501;
    font-size: 1.2em;
}
.sweep-title{
    font-size: clamp(15px, 4vw, 17px);
    font-weight:400;
    color: #F7f7f7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    background-color: #061835;
    padding: .75%;
}

#footer {
    margin-top: 30px;
    background-color: #061835;
    margin:0 auto;
    width:100%;
    height:auto;
    overflow:hidden;
    position: relative;
    bottom: 0px;
    padding: .75%;
}

.modal-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0069f5;
}
.modal-body{
    padding: 40px;
    max-height: 75vh;
    overflow-y: auto;
}
.upload_label{
    margin: 0px;
}
.modal-header{
    background-image: url(/images/home/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 .55rem .5rem rgba(0,0,0,.07)!important;
    border-radius: 0.75rem;
}
 .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 40px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 6px !important;
    right: 1px;
    width: 20px
}

.notification {         
    max-height: 400px;
    overflow-y: auto;
}
.read {
    background-color:#f2f3f4; 
    border:1px solid #dcdcdc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 7px;
}
.cleaner {
    max-height: 400px;
    overflow-y: auto;
}

.banner-container{
    align-items: center;
    font-size: 30px;
    background-size: cover;
}

.banner{
    background-color: #F7f7f7;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner .image{
    flex:1 1 250px;
    padding: 35px;
    text-align: left;
    margin-bottom: 50px;
}

.banner-container .banner .image img{
    width: clamp(80%, 4vw, 90%);
}

.banner-container .banner .text{
    flex:1 1 250px;
    padding: clamp(60px, 4vw, 10%);
    text-align: left;
    align-items: center;
    justify-content: center;
}

.icon {
    margin: 5px 0px;
    width: 50px;
    height: 50px;
    border: 2px solid #34f234;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.icon i.fa {
    font-size: 30px;
    color: #34f234;
}

.title {
    margin: 5px 0px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.description{
    color: #222;
    font-size: 15px;
    padding: 5px;
}

.starRate{
    margin-left: 30px;
}
